.grid-item{
    border: 2px solid black;
    padding: 20px;
    background-color: blue;
    color: white;
}
.grid-container{
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 51px;
}

