.container{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid black;
}
th{
    background-color: blueviolet;
    color: white;
}
td{
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}